<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/main.css")
    
    title Document
  body
    #up
    .back.back1
    .back.back2
    .back.back3
    .header-lg.col-md-12.visible-md.visible-lg
      input(class="btn btn-info strt" type="button" value="Let's start")
    .header-sm.col-sm-12.visible-sm
    .header-xs.col-md-12.visible-xs
    
    .atricle.col-md-8.col-xs-12.col-sm-11.col-md-offset-1#article
    .side-nav.col-md-2.col-sm-1.visible-md.visible-lg.visible-sm

      
      
      
      
      
      <script src="js/jquery3.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/functions.js"></script>
  
  
  
    
